In [2]:
# Let install the Power BI client 
from powerbiclient.authentication import DeviceCodeLoginAuthentication
from powerbiclient import Report, models
from io import StringIO
from ipywidgets import interact
import requests
import pandas as pd
import matplotlib
from powerbiclient import Report, models

In [3]:
# Auth object for demo
auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code DSKXEQBYC to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [4]:
# Let install other Power BI client packages 
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

In [5]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# Importing the dataset
df = pd.read_csv('Methane_final.csv')
df.head()

,Unnamed: 0,region,country,emissions,type,segment,reason,baseYear,notes
0,0,Africa,Algeria,257.611206,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
1,1,Africa,Algeria,0.052000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...
2,2,Africa,Algeria,130.798996,Energy,Gas pipelines and LNG facilities,Fugitive,2022,Not available
3,3,Africa,Algeria,69.741898,Energy,Gas pipelines and LNG facilities,Vented,2022,Not available
4,4,Africa,Algeria,213.987000,Energy,Onshore gas,Fugitive,2022,Not available

In [7]:
# Let check the total rows and columns in this dataframe
data_shape = df.shape
print("There are {} rows and {} columns in this dataset".format(data_shape[0],data_shape[1]))

There are 1548 rows and 9 columns in this dataset

In [8]:
# Let check for null values
df.isnull().sum()
print("There are no null values in this dataset")

There are no null values in this dataset

In [9]:
# Let the delete the unamed:0 column
df = df.drop(['Unnamed: 0'], axis=1)

In [10]:
df.sample(10)

,region,country,emissions,type,segment,reason,baseYear,notes
43,Africa,Botswana,0.031258,Energy,Onshore gas,Vented,2022,Not available
57,Africa,Cameroon,68.878098,Energy,Offshore oil,Vented,2022,Not available
275,Africa,Namibia,15.859239,Waste,Total,All,2019-2021,Average based on United Nations Framework Conv...
1531,World,World,1370.260010,Energy,Offshore gas,Fugitive,2022,Not available
872,Europe,Denmark,40.268757,Waste,Total,All,2019-2021,Average based on United Nations Framework Conv...
379,Africa,Tanzania,227.552979,Waste,Total,All,2019-2021,Average based on United Nations Framework Conv...
476,Asia Pacific,China,376.700684,Energy,Other from oil and gas,All,2022,Estimates from end-uses are for 2020 or 2021 (...
859,Europe,Denmark,240.093613,Agriculture,Total,All,2019-2021,Average based on United Nations Framework Conv...
739,Central and South America,Colombia,15.713400,Energy,Onshore oil,Flared,2022,Not available
1431,Russia & Caspian,Azerbaijan,0.380000,Energy,Bioenergy,All,2022,Estimates from end-uses are for 2020 or 2021 (...

In [11]:
# Let check the baseYear column
print(df.baseYear.unique())
print(df['baseYear'].dtypes)
# The dates column is not supposed be an object type

['2019-2021' '2022']
object

In [12]:
# Let check the baseYear column
print(df.baseYear.unique())
print(df['baseYear'].dtypes)
# The dates column is not supposed be an object type

['2019-2021' '2022']
object

In [13]:
# Let group the Region that has the most emissions and round it to 2 decimal place
region_emission = df.groupby('region')['emissions'].sum().round(2)
region_emission

region
Africa                        54197.15
Asia Pacific                 177699.61
Central and South America     45639.99
Europe                        49209.00
Middle East                   38095.80
North America                 63347.41
Other                         15997.36
Russia & Caspian              62421.61
World                        489152.32
Name: emissions, dtype: float64

In [14]:
jj = df[['region','emissions']]

In [15]:
QuickVisualize(get_dataset_config(jj), auth=auth)

QuickVisualize()